<h1> Dbz Characters</h1>
<hr>

<div class="row">
  <div class="col">
    <h4> List </h4>
    <ul class="list-group">

      <li class="list-group-item"> Goku - 100</li>
      <li class="list-group-item"> Krillin - 500</li>

    </ul>

  </div>

  <div class="col">
    <h4> Add Character</h4>
    <form class="row">
      <input type="text" placeholder="Name" class="form-control mb-2"  >
      <input type="number" placeholder="Power" class="form-control mb-2" >

      <button type="submit"    class="btn btn-primary mt-2">
        Add
      </button>
    </form>

  </div>


</div>

