<h3> Hero List</h3>


<div *ngIf="heroDeleted; else nothingWasDeleted">
  <h3> Hero Deleted:  <small class="text-danger"> {{ heroDeleted }} </small> </h3>
</div>

<ng-template #nothingWasDeleted>
  <h3> Nothing was deleted!</h3>
</ng-template>


<button *ngIf="heroNames.length > 0"
class="btn btn-outline-danger mx-2" (click)="deleteLastHero()">
    Delete last hero
</button>



<ul *ngFor="let item of heroNames"
  class="mt-2 list-group" >
  <li class="list-group-item">  {{ item }}  </li>
</ul>

