<div class="play-list-body">
    <ul class="play-list-table-header">
        <li (click)="changeSort('name')">Name ❤</li>
        <li (click)="changeSort('album')">Album 🆗</li>
        <li>incorporation date 🍌😁</li>
        <li><i class="uil uil-clock-eight"></i></li>
    </ul>
    <ul class="play-list-rows" *ngFor="let item of tracks | orderList:optionSort.property:optionSort.order">
        <li class="track-name">
            <ng-container *ngTemplateOutlet="coverSection;context:{track:item}"></ng-container>
        </li>
        <li class="track-name-opacity">
            {{item.album}}
        </li>
        <li class="track-name-opacity">
            {{item.album}}
        </li>
        <li class="track-name-opacity">
            {{item.album}}
        </li>

    </ul>
</div>

<!--template del cover-->
<ng-template #coverSection let-objTrack="track">

    <div class="cover-section">
        <img appImgBroken class="cover-track" [src]="objTrack.cover" [alt]="objTrack.name">
        <div class="cover-info">
            <div class="name-track">{{ objTrack.name }}</div>
            <div class="name-track-details">{{ objTrack.artist.name }}</div>
        </div>
    </div>

</ng-template>
